
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Poppins-Light.ttf) format('ttf');
    
  }
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Poppins-Medium.ttf) format('ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Poppins-SemiBold.ttf) format('ttf');
}
 
   
 :root{
    --blue: #1e90ff;
    --white: #ffffff;
    /* --navbg:#0e6fb3;
    --navbghover:#34B575; */
    --navbg:#022759;
    --navbghover:#00aeff;
    --bs-navbar-active-color:#f1f1f1;
    --navtextcolor:#f1f1f1;
 }


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}


.nav-bg{
    background-color: var(--navbg);
}

.bdr-top{
    border-top: solid 2px var(--navbghover);
}


/* Header */
.custom-tab {
  border: solid #cdcdcd 1px;
  width: 100%;
  padding: 10px;
}
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul.logosection{
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 9px 0;
    
  }

  ul.logosection li{
    list-style: none;
  } 


  /* tabs */

  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tabs label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: block;   
    cursor: pointer;   
    font-weight: 500;
    -webkit-transition: background ease 0.2s;
    transition: background ease 0.2s;
    padding: 0.5rem 1rem;
    background: #eeeeee;
    color: #000000;
    font-size: 13px;
    border-radius: 0px;
    border-bottom: #00aeff solid 2px;
    
  }
  .tabs .tab {
    margin-top: 1.0rem;
    -webkit-box-ordinal-group: 100;
    -webkit-order: 99;
    -ms-flex-order: 99;
    order: 99;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: none;   
  }
  .tabs input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .tabs input[type="radio"]:checked + label { 
    background: #0c2b56;
    border-radius: 0px;
    color:#f1f1f1;
    border-bottom: #0c2b56 solid 2px;    
   }   
  
  .tabs input[type="radio"]:checked + label + .tab { display: block; }
  .notificationBord {
    border: solid #cdcdcd 1px;
    width: 100%;
    padding: 10px;
}

ul.event-icon {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.event-icon li{
  width: 100%;
  background: rgb(248, 248, 248);
  margin-bottom: 5px;
  position: relative;
  padding: 9px 0px 9px 35px;
}
ul.event-icon li a{
  line-height: 1.1;
  font-size: 0.9rem;
}
ul.event-icon li::before{
   content: url('../images/arrow-right.svg');
  font-weight: 600;  
  position: absolute;
  top: 12px;
  left: 9px;
  font-size: 0.80rem;
}

.tabs label:focus, .tabs label:hover {
  background-color: #00aeff; color:#f1f1f1;
}

@media (max-width: 575.98px) {  }


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  .secondTabs {
    margin-left: 10px;
    margin-right: 10px;
}
 }


@media (min-width: 1200px) { 

  .navbar-nav li.nav-item::after {
    content: '';
    height: 100%;
    width: 1px;
    background: var(--white);
    position: absolute;
    top: 0;
  }
}

@media (max-width: 45em) {
    .tabs .tab,  .tabs label {
      -webkit-box-ordinal-group: NaN;
      -webkit-order: initial;
      -ms-flex-order: initial;
      order: initial;
    }
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
  @media (min-width: 1200px) { 
      .secondTabs {
          margin-left: 10px;
          margin-right: 10px;
      }
      .custom-tab{
        height: 408px;
      }

      ul.event-icon {        
        height: 387px;
        overflow-y: auto;
      }  

      /* .dropdown:hover .dropdown-menu {
        display: block;
      } */
    }
/* tabs */

/* contact us */

.contact_inner{
  background-color: #fff;
  position: relative;
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
  min-height: 450px;
  overflow: hidden;
}

.contact_info_sec {
  position: absolute;
  background-color: #2d2d2d;
  color: #f1f1f1;
  right: 1px;
  top: 18%;
  height: 250px;
  width: 320px;
  padding: 40px 35px;
  border-radius: 25px 0 0 25px;
  background-color: rgba(2, 39, 89,0.8);
  transition: 0.5s;
}
.arrows {
  position: absolute;
  width: 20px;
  height: 31px;
  background-color: #ffcb00;
  top: 45%;
  left: -16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
}
.contact_info_sec.moveclass{
  margin-right: -316px;
  transition: 0.5s;
}
.address {
  line-height: 1.5;
}
.bg-gray{
  background-color: #f1f1f1;
}
/* contact us */

@media (max-width: 575.98px) { 
    .projectNmae{
        font-size: 21px;
        font-weight: 600;
    }
    ul.logosection li:nth-child(2){
        order: 1;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    ul.logosection li:nth-child(1){
        order: 2;
        width: 50%;
        text-align: right;
        padding-right: 15px;
    }
    ul.logosection li:nth-child(3){
        order: 3;
        width: 50%;
        text-align: left;
    }
    .nav-link{      
      color:#f1f1f1;
      padding-left: 10px;
      border-bottom: solid 0.5px #f1f1f1;
    }

    .nav-link:focus, .nav-link:hover {
      color: #f1f1f1;
    }


    .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
      background-color: var(--navbghover);
      color:var(--navtextcolor);
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      color: var(--navtextcolor);
      background-color: var(--navbghover);
    }
    .dropdown-menu{
      border-radius: 0;     
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color:var(--navtextcolor);
  }
  .dropdown-item{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .dropdown-menu li .dropdown-item{
    border-bottom: solid 0.5px var(--navbghover);
    color:var(--navtextcolor);
  }
  .dropdown-menu li:last-child .dropdown-item{
      border-bottom: solid 0px #f6f6f6;
      color:var(--navtextcolor);
  }
  .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
      background-color: var(--navbghover);
      color:var(--navtextcolor);
  }
  ul.infoBox{
    margin-top: 15px;
  }
  .intro img{
    margin-bottom: 15px;
  }
  .logosection img{
    max-height: 60px;
    height: 100%;
  }
  .dropdown-item {
    white-space: wrap;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) { 

    .projectNmae{
        font-size: 22px;
        font-weight: 600;
    }
    ul.logosection li:nth-child(2){
        order: 1;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    ul.logosection li:nth-child(1){
        order: 2;
        width: 50%;
        text-align: right;
        padding-right: 15px;
    }
    ul.logosection li:nth-child(3){
        order: 3;
        width: 50%;
        text-align: left;
    }
    .nav-link{      
      color:#f1f1f1;
      padding-left: 10px;
    }
    .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
      background-color: var(--navbghover);
      color:var(--navtextcolor);
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      color: var(--navtextcolor);
      background-color: var(--navbghover);
    }
    .dropdown-menu{
      border-radius: 0;     
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color:var(--navtextcolor);
  }
  .dropdown-item{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .dropdown-menu li .dropdown-item{
    border-bottom: solid 0.5px var(--navbghover);
    color:var(--navtextcolor);
  }
  .dropdown-menu li:last-child .dropdown-item{
      border-bottom: solid 0px #f6f6f6;
      color:var(--navtextcolor);
  }
  .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
      background-color: var(--navbghover);
      color:var(--navtextcolor);
  }

      ul.infoBox{
        margin-top: 15px;
      }
      .intro img{
        margin-bottom: 15px;
      }

      .dropdown-item {
        white-space: wrap;
      }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
  .nav-link{      
    color:#f1f1f1;
    padding-left: 10px;
  }
  .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
    background-color: var(--navbghover);
    color:var(--navtextcolor);
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--navtextcolor);
    background-color: var(--navbghover);
  }
  .dropdown-menu{
    border-radius: 0;     
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color:var(--navtextcolor);
}
.dropdown-item{
  padding-top: 12px;
  padding-bottom: 12px;
}
.dropdown-menu li .dropdown-item{
  border-bottom: solid 0.5px var(--navbghover);
  color:var(--navtextcolor);
}
.dropdown-menu li:last-child .dropdown-item{
    border-bottom: solid 0px #f6f6f6;
    color:var(--navtextcolor);
}
.dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
    background-color: var(--navbghover);
    color:var(--navtextcolor);
}

  .dropdown-item {
    white-space: wrap;
  }


 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar{
        padding: 0;
        margin-bottom: 1px;
    }
    .nav-link{
        padding-top: 14px;
        padding-bottom: 14px;    
        padding-left: 25px!important;
        padding-right: 25px!important;   
        color:#f1f1f1;
    }
    .dropdown-menu{
        border-radius: 0;
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
        padding-top: 0;
        padding-bottom: 0;
        background-color: var(--navbg);
        color:var(--navtextcolor);
    }
    .dropdown-menu li .dropdown-item{
        border-bottom: solid 0.5px #f6f6f6;
        color:var(--navtextcolor);
    }
    .dropdown-menu li:last-child .dropdown-item{
        border-bottom: solid 0px #f6f6f6;
        color:var(--navtextcolor);
    }
    .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
        background-color: var(--navbghover);
        color:var(--navtextcolor);
    }
    /* .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
    } */
    .dropdown-item{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: var(--navtextcolor);
        background-color: var(--navbghover);
    }
    .nav-link:focus, .nav-link:hover {
        color: var(--navtextcolor);
        background-color: var(--navbghover);
    }
    .projectNmae{
        font-size: 32px;
        font-weight: 600;
    }
    ul.logosection{
      
        display: flex;
        justify-content: space-between;  
        align-items: center;     
        
    }
    .dropdown-item {
      white-space: wrap;
    }
 }


@media (min-width: 1200px) { 
    .navbar{
        padding: 0;
        margin-bottom: 1px;
    }
    .nav-link{
        padding-top: 14px;
        padding-bottom: 14px;    
        padding-left: 25px!important;
        padding-right: 25px!important;   
        color:#f1f1f1;
    }
    .dropdown-menu{
        border-radius: 0;
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
        padding-top: 0;
        padding-bottom: 0;
        background-color: var(--navbg);
        color:var(--navtextcolor);
    }
    .dropdown-menu li .dropdown-item{
        border-bottom: solid 0.5px #f6f6f6;
        color:var(--navtextcolor);
    }
    .dropdown-menu li:last-child .dropdown-item{
        border-bottom: solid 0px #f6f6f6;
        color:var(--navtextcolor);
    }
    .dropdown-menu li .dropdown-item:hover ,.dropdown-menu li .dropdown-item:focus{
        background-color: var(--navbghover);
        color:var(--navtextcolor);
    }
    /* .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
    } */
    .dropdown-item{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: var(--navtextcolor);
        background-color: var(--navbghover);
    }
    .nav-link:focus, .nav-link:hover {
        color: var(--navtextcolor);
        background-color: var(--navbghover);
    }
    .projectNmae{
        font-size: 50px;
        font-weight: 600;
    }
    ul.logosection{
      
        display: flex;
        justify-content: space-between;  
        align-items: center;     
        
    }
    .carousel-item img{
        object-fit:fill ;
        width: 100%;
        height: 475px;
    }
    
}

  /* Header */

  /* footer */

  .footer{
    width: 100%;
    box-sizing: border-box;
    background:#0B1B34;
    background: #10151f;
  }
  ul.footerLogo{
    width: 100%;
    display: flex;
    padding: 25px 0 25px;
    justify-content: center;
    align-items: center;
  }
  ul.footerLogo li img{
    max-height: 60px;
  }
  ul.footerLogo li:nth-child(1){
    margin-right: 15px;
  }
  .copyright{
    width: 100%;    
    background:#000F22;
    /* background: #10151f !important */
    background: rgba(0,0,0,0.4);
    
   
  }
 
  .copyright p{
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 300;
  }

  .copyright p a{
    color:#2584C6;
  }
  .banner{
    width: 100%;
    border-bottom: solid 2px #f3f3f3;
  }

/* footer */

  /* Home page */


  #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  #button svg{
    width: 65%;
  }
  /* #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  } */
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  .imgBox{
    width: 100%;
    padding: 10px 0 0;

  }
  ul.Ministry{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  ul.Ministry li:nth-child(1){
    width: 100%;
    border-bottom: solid 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
  }
  ul.Ministry li:nth-child(1) img{
    height: 165px;
  }
  ul.Ministry li img{
    height: 145px;
  }
  ul.Ministry li{
    width: 50%;
    background: #fff;
    border:1px solid #EEEEEF;
    text-align: center;
    
  }
  .text-left{
   
    display: inline-block;   
    margin-top: 31px;
    position: absolute;
  }
  .name{
    font-size: 0.99rem;
    font-weight: 500;
  }
  .degination{
    font-size: 0.85rem;
    font-weight: 400;
  }
  a.viewportfolio{
    font-size: 0.8rem;
    margin-top: 8px;;
  }
  ul.infoBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul.infoBox li{
    width: calc(50% - 7.5px);

  }
  /* Styles for the content section */
  

  @media (min-width: 500px) {   
    #button {
      margin: 30px;
    }
  }
 


  .introduction{
    width: 100%;
    padding: 15px 0;
    background: rgba();
  }
  .padd-50{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .padd-25{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .intro{
    width: 100%;
    background: #e6f1f7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 25px 15px;
    margin: auto;
    align-items: center;
  }
  .homePara{
    line-height: 1.6;
    font-weight: 300;
  }


  .text-blue{
    color:#132573;
  }

  .mainHeading{
    position: relative;
    font-size: 2.05rem;
    font-weight: 600;
    color:#132573;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  .mainHeading::after{
    position: absolute;
    content: '';
    top:calc(100% + 5px);
    left: 0;
    width: 70px;
    height: 5px;
    background:#132573 ;
  }


  /* .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #F44336;
  } */
  .progressbar { width: 0%; height: 3px; background-color: red; }


  @media (max-width: 575.98px) { 

    .mainHeading{
      font-size: 150%;margin-bottom:25px;
    }
      ul.Ministry li:nth-child(1) img {
        height: 150px;
    }
    ul.Ministry li img {
      height: 1450x;
    }
    
  }


@media (min-width: 576px) and (max-width: 767.98px) { 
  .mainHeading{
    font-size: 175%;margin-bottom:29px;
  }  
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    ul.Ministry li:nth-child(1) img {
      height: 140px;
    }
    .text-left {    
      margin-left: -6px;
    }    
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  
 }


@media (min-width: 1200px) { 

  ul.Ministry li:nth-child(1) figure{
    margin-left: 11%;
  }
  
  

  .imgBox figure {
        margin: 0 0 0.75rem;
    }
 }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  border: 2px solid white;
}





.bg-gradient1 span,
.bg-gradient1:before {
  background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
}

.bg-breadcream{
  background: #f8f9fa;
  padding: 5px 0;
}

.bg-breadcream .breadcrumb{
 margin-bottom: 0;
}
.bg-breadcream  .breadcrumb-item a{
  color:#fa7e29;
  font-weight: 600;
}

/* fancy Button */
.fancy-button svg{
  height: 16px;
}
.fancy-button {
  display: inline-block;

 
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #BF4C28;
}
.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #227270;
}
.fancy-button.bg-gradient3 {
  text-shadow: 0 0 1px #546082;
}
.fancy-button:before {
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  filter: blur(14px) brightness(0.9);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  filter: brightness(0.75) contrast(1.7);
}
.fancy-button.pop-onhover span {
  border-radius: 4px;
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(16px);
}
.fancy-button.pop-onhover:hover span {
  transform: scale(1);
}
.fancy-button.pop-onhover:hover:active span {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.2s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(5px) brightness(0.85);
  transition: all 0.2s ease-out;
}



.application .card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.application .card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.application .drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.application .drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.application .drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.application .btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.application .btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.application .form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

/* */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */
.Homebanner {
  background: #FBE5DA;
  background: #e6f1f7;
  padding-bottom: 44px;
}
.carousel-indicators [data-bs-target]{  
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #132573!important;
}
.carousel-indicators .active{
  position: relative;
}
.carousel-indicators .active::after{
 
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid #132573 1px;
  left: -3.9px;
  top: -4px;

}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -55px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}


.objectiveSection{
  background-color:var(--lightyellow02) ;
  background-color: #e6f1f7;
  width: 100%;
  padding: 45px 25px 25px;

}
.objectiveSection > ul{
  padding-left: 16px;
}
.objectiveSection p{
    color: #323232;    
    font-size: 0.99rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 5px 15px;
}

.objectiveSection li{
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.6px;
  position: relative;
  padding-left: 19px;
}
.objectiveSection li::after{
  position: absolute;
  content:'';
  width:5px;
  height: 5px;
  border-radius: 50%;
  top:13px;
  left:0;
  background: #323232;;
}
.objectiveSection li strong{
  color: var(--redDark);
  font-weight: 500;
}
.objectiveSection li ul{
  width: 100%;
  margin-top: 15px;;
}
.objectiveSection li li{
    position: relative;
    width: 100%;
    color: #323232;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.6px;
    padding-left: 25px;
    margin-bottom: 15px;
    padding-right: 25px;;
}
.objectiveSection li li::after{
  position: absolute;
  content: '';
  width: 17px;
  height: 15px;
  background: url(../images/listArrow.svg) no-repeat;
  border-radius: 50%;
  top: 6px;
  left: 0;  
}


.whos tr td:first-of-type,
.whos tr th:first-of-type {
  background: #CEF3CE;
}

.whos tr td:nth-child(2),
.whos tr th:nth-child(2) {
  background: #f7f7f7;
}

.whos tr td:nth-child(3),
.whos tr th:nth-child(3) {
  background: var(--lightcream);
}

.whos th,
.curculars td {
  border: 1px solid var(--green);
}

